    {{> base}}
    {% block content_for_layout %}

    <div class="container">
        <h1>Bienvenido a la Página de Inicio</h1>
        <p>¡Todo está bonito y lindo!</p>
        <a href="/incidentes" class="btn btn-primary">Ir a Incidentes</a>
    </div>

    
{% endblock %}