    {{> base}}
    {% block content_for_layout %}

    <div class="container">
        <h1>Servicios Argentina</h1>
        <p>Esto es una prueba</p>
        <a href="/incidentes" class="btn btn-primary">Ir a Incidentes</a>
    </div>

    
{% endblock %}